/*
################
CARD STYLE
################
*/
.deck{
  padding: 1em;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and(min-width: $grid__bp-sm * 1px){
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card{
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: column;
    background: $primary;
    box-shadow: 9px 9px 5px 0 #690266;
    border-radius: 10px;
    padding: 1em;
    height: 200px;
    @media screen and(min-width: $grid__bp-sm * 1px){
      flex: 0 0 21.8%;
      width: 21.8%;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 20px;
    }
  }
}


/*
################
CARD STYLE
################
*/

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 6px solid transparent;
  padding: 0.5em 4em;
  line-height: 1.5;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &.btn-primary {
    color: $primary;
    background: #f9fafb;
    border-color: #ebeced;
    &:hover{
      color: #fff;
      background-color: $primary;
      border-color: $primary-dark;
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,{
      color: #fff;
      background-color: $primary;
      border-color: $primary-dark;
    }
  }
}

/*
################
   THEME-TEXT-ALIGN
################
*/
.text-end{
  text-align: end;
}
