/*
################
CARD STYLE
################
*/
.card-deck{
  padding: 1em;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and(min-width: $grid__bp-sm * 1px){
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .flip-card{
    height: 200px;
    cursor: pointer;
    display: flex;
    min-width: 0;
    flex-direction: column;
    background: #eaeaea;
    box-shadow: 9px 9px 5px 0 rgba(70, 70, 70, 0.30);;
    border-radius: 10px;
    padding: 1em;
    perspective: 600px;
    position: relative;
    @media screen and(min-width: $grid__bp-sm * 1px){
      flex: 0 0 21.8%;
      width: 21.8%;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 20px;

    }
    .card{
      position: relative;
      height: 100%;
      width: 100%;
      transition: transform 0.5s ,border-width 0.5s,background-color 1s;
      transform-style: preserve-3d;
      transform-origin: center right;
    }
  }
}

/*
################
CARD STYLE
################
*/

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 6px solid transparent;
  padding: 0.5em 4em;
  line-height: 1.5;
  border-radius: 50px;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  font-family: 'Baloo', sans-serif;
  &.btn-primary {
    color: $primary;
    background: #f9fafb;
    border-color: #ebeced;
    &:hover{
      color: #fff;
      background-color: #c71c97;
      border-color: #dc52b5;
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,{
      color: #fff;
      background-color: #c71c97;
      border-color: #dc52b5;
    }
  }
}

/*
################
MODAL STYLE
################
*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  .modal-content {
    position: absolute;
    background-image: url('../images/winnerbg.png');
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1.5rem;
    width: 60%;
    border-radius: 0.5rem;
    text-align: center;
    h1{
      color: $primary;
      width: 60%;
      margin: 0.5em auto;
      font-size: 40px;
      line-height: 1.3;
    }
    .close-button {
      float: right;
      text-align: center;
      color: #c71c97;
      cursor: pointer;
      border-radius: 0.25rem;
      font-size: 40px;
      margin-top: -40px;
      &:hover{
        color: $primary;
      }
    }
    #play-again{
      background-color: #c71c97;
      border-color: #dc52b5;
      color: #fff;
      cursor: pointer;
      &:hover{
        background-color: $primary;
        border-color: #bd4fba;
      }
    }
  }
  &.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}

/*
################
THEME-TEXT-
################
*/
.text-end{
  text-align: end;
}

.text-center{
  text-align: center;
}

.text-primary{
  color: $primary;
}


/*
################
Align-item
################
*/
.align-item-center{
  align-items: center;
}
