$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__col : 12;

$map-grid-props: (
'' : 0 ,
'-sm':$grid__bp-sm ,
'-md':$grid__bp-md ,
'-lg':$grid__bp-lg ,
'-xl':$grid__bp-xl ,
);

@mixin create-mq($breakpoint){
  @if($breakpoint == 0){
    @content;
  } @else{
    @media screen and(min-width: $breakpoint * 1px){
      @content;
    }
  }
}

@mixin create-col-classes($modifier , $grid__col , $breakpoint){
  @include create-mq($breakpoint){
    @for $i from 1 through $grid__col{
      &__col#{$modifier}-#{$i}{
        flex-basis: (100 / ($grid__col / $i)) * 1%;
      }
    }
  }
}

.container{
  width: $grid__bp-lg * 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and(max-width: 990px){
    width: 100%;
  }
  &--fluid{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier , $grid__col ,$breakpoint);
  }
}
