/*
################
   THEME-COLOR
################
*/
$primary : #92278f ;
$primary-dark : #92278f ;
$purple: #861a54 ;
$pink: #ff3fd6 ;
$light-pink:#f97df5;
$secondary: #f78b1e;
$yellow: #efe348;
$dark:#333;
$star: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


/*
################
GLOBAL GRID STYLE THEME
################
*/
@at-root {
  [class*='container__col-'] {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*
################
   img
################
*/
img{
  max-width:100%;
}
