/*
################
   THEME-COLOR
################
*/
/*
################
GLOBAL GRID STYLE THEME
################
*/
@import url(all.min.css);
[class*='container__col-'] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
/*
################
   THEME-img
################
*/
img {
  max-width: 100%;
  object-fit: cover; }

.container {
  width: 992px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  .container--fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container__col-1 {
    flex-basis: 8.3333333333%; }
  .container__col-2 {
    flex-basis: 16.6666666667%; }
  .container__col-3 {
    flex-basis: 25%; }
  .container__col-4 {
    flex-basis: 33.3333333333%; }
  .container__col-5 {
    flex-basis: 41.6666666667%; }
  .container__col-6 {
    flex-basis: 50%; }
  .container__col-7 {
    flex-basis: 58.3333333333%; }
  .container__col-8 {
    flex-basis: 66.6666666667%; }
  .container__col-9 {
    flex-basis: 75%; }
  .container__col-10 {
    flex-basis: 83.3333333333%; }
  .container__col-11 {
    flex-basis: 91.6666666667%; }
  .container__col-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 576px) {
    .container__col-sm-1 {
      flex-basis: 8.3333333333%; }
    .container__col-sm-2 {
      flex-basis: 16.6666666667%; }
    .container__col-sm-3 {
      flex-basis: 25%; }
    .container__col-sm-4 {
      flex-basis: 33.3333333333%; }
    .container__col-sm-5 {
      flex-basis: 41.6666666667%; }
    .container__col-sm-6 {
      flex-basis: 50%; }
    .container__col-sm-7 {
      flex-basis: 58.3333333333%; }
    .container__col-sm-8 {
      flex-basis: 66.6666666667%; }
    .container__col-sm-9 {
      flex-basis: 75%; }
    .container__col-sm-10 {
      flex-basis: 83.3333333333%; }
    .container__col-sm-11 {
      flex-basis: 91.6666666667%; }
    .container__col-sm-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 768px) {
    .container__col-md-1 {
      flex-basis: 8.3333333333%; }
    .container__col-md-2 {
      flex-basis: 16.6666666667%; }
    .container__col-md-3 {
      flex-basis: 25%; }
    .container__col-md-4 {
      flex-basis: 33.3333333333%; }
    .container__col-md-5 {
      flex-basis: 41.6666666667%; }
    .container__col-md-6 {
      flex-basis: 50%; }
    .container__col-md-7 {
      flex-basis: 58.3333333333%; }
    .container__col-md-8 {
      flex-basis: 66.6666666667%; }
    .container__col-md-9 {
      flex-basis: 75%; }
    .container__col-md-10 {
      flex-basis: 83.3333333333%; }
    .container__col-md-11 {
      flex-basis: 91.6666666667%; }
    .container__col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container__col-lg-1 {
      flex-basis: 8.3333333333%; }
    .container__col-lg-2 {
      flex-basis: 16.6666666667%; }
    .container__col-lg-3 {
      flex-basis: 25%; }
    .container__col-lg-4 {
      flex-basis: 33.3333333333%; }
    .container__col-lg-5 {
      flex-basis: 41.6666666667%; }
    .container__col-lg-6 {
      flex-basis: 50%; }
    .container__col-lg-7 {
      flex-basis: 58.3333333333%; }
    .container__col-lg-8 {
      flex-basis: 66.6666666667%; }
    .container__col-lg-9 {
      flex-basis: 75%; }
    .container__col-lg-10 {
      flex-basis: 83.3333333333%; }
    .container__col-lg-11 {
      flex-basis: 91.6666666667%; }
    .container__col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container__col-xl-1 {
      flex-basis: 8.3333333333%; }
    .container__col-xl-2 {
      flex-basis: 16.6666666667%; }
    .container__col-xl-3 {
      flex-basis: 25%; }
    .container__col-xl-4 {
      flex-basis: 33.3333333333%; }
    .container__col-xl-5 {
      flex-basis: 41.6666666667%; }
    .container__col-xl-6 {
      flex-basis: 50%; }
    .container__col-xl-7 {
      flex-basis: 58.3333333333%; }
    .container__col-xl-8 {
      flex-basis: 66.6666666667%; }
    .container__col-xl-9 {
      flex-basis: 75%; }
    .container__col-xl-10 {
      flex-basis: 83.3333333333%; }
    .container__col-xl-11 {
      flex-basis: 91.6666666667%; }
    .container__col-xl-12 {
      flex-basis: 100%; } }

/*
################
CARD STYLE
################
*/
.card-deck {
  padding: 1em;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px; }
  @media screen and (min-width: 576px) {
    .card-deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; } }
  .card-deck .flip-card {
    height: 500px;
    cursor: pointer;
    display: flex;
    min-width: 0;
    flex-direction: column;
    background: #92278f;
    box-shadow: 9px 9px 5px 0 #690266;
    border-radius: 10px;
    padding: 1em;
    perspective: 600px;
    position: relative;
    flex: 0 0 46%;
    width: 46%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px; }
    @media screen and (min-width: 576px) {
      .card-deck .flip-card {
        flex: 0 0 21.8%;
        width: 21.8%;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        height: 200px; } }
    .card-deck .flip-card .card {
      position: relative;
      height: 100%;
      width: 100%;
      transition: transform 0.5s ,border-width 0.5s,background-color 1s;
      transform-style: preserve-3d;
      transform-origin: center right; }

/*
################
CARD STYLE
################
*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 6px solid transparent;
  padding: 0.5em 4em;
  line-height: 1.5;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .btn.btn-primary {
    color: #92278f;
    background: #f9fafb;
    border-color: #ebeced; }
    .btn.btn-primary:hover {
      color: #fff;
      background-color: #c71c97;
      border-color: #dc52b5; }
    .btn.btn-primary:not(:disabled):not(.disabled).active, .btn.btn-primary:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #c71c97;
      border-color: #dc52b5; }

/*
################
MODAL STYLE
################
*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
  .modal .modal-content {
    position: absolute;
    background-image: url("../images/winnerbg.png");
    background-repeat: repeat-x;
    background-position: top;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1.5rem;
    width: 80%;
    border-radius: 0.5rem;
    text-align: center; }
    .modal .modal-content h1 {
      color: #92278f;
      width: 50%;
      margin: 0.5em auto; }
    .modal .modal-content .close-button {
      float: right;
      text-align: center;
      color: #92278f;
      cursor: pointer;
      border-radius: 0.25rem;
      font-size: 40px;
      margin-top: -40px; }
      .modal .modal-content .close-button:hover {
        color: darkgray; }
    .modal .modal-content #play-again {
      background-color: #c71c97;
      border-color: #dc52b5;
      color: #fff;
      cursor: pointer; }
  .modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

/*
################
THEME-TEXT-ALIGN
################
*/
.text-end {
  text-align: end; }

.text-center {
  text-align: center; }

/*
################
Align-item
################
*/
.align-item-center {
  align-items: center; }

@keyframes gradients {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 50% 0; }
  50% {
    background-position: 90% 0; }
  60% {
    background-position: 60%; }
  75% {
    background-position: 40%; }
  100% {
    background-position: 0 0; } }
@font-face {
  font-family: 'Gretoon';
  src: url("../fonts/Gretoon.ttf.woff") format("woff"), url("../fonts/Gretoon.ttf.svg#Gretoon") format("svg"), url("../fonts/Gretoon.ttf.eot"), url("../fonts/Gretoon.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron Regular"), local("Orbitron-Regular"), url("../fonts/Orbitronnormal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: local("Orbitron Medium"), local("Orbitron-Medium"), url("../fonts/Orbitron500.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local("Orbitron Bold"), local("Orbitron-Bold"), url("../fonts/Orbitron700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: url("../images/pattern.png");
  font-family: 'Gretoon', sans-serif;
  font-size: 14px; }
  body .wrapper {
    padding: 1em 0 3em; }
    body .wrapper header {
      text-align: center;
      margin: 1em; }
      body .wrapper header a {
        display: block; }
        body .wrapper header a img {
          width: 300px; }
    body .wrapper main {
      background-image: linear-gradient(to right, #a7ce48, #ffd47b, #f97df5, #f5a371, #efe348);
      background-size: 600%;
      margin-bottom: 1em;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(107, 40, 105, 0.5);
      width: 992px;
      margin: 0 auto;
      /* Animation */
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-name: gradients;
      /*
      ################
      balloon
      ################
      */
      /*
      ################
      TOdO Game HEADR Action
      ################
      */
      /*
      ################
      TIMER
      ################
      */
      /*
      ################
      TOdO Game CARD GAME
      ################
      */ }
      body .wrapper main .balloon {
        border: 1px solid #000;
        border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%; }
        body .wrapper main .balloon.lightyellow {
          position: absolute;
          background: #ffd47b;
          height: 85px;
          width: 75px;
          left: 30%;
          top: 2%; }
          body .wrapper main .balloon.lightyellow .triangle {
            border-bottom: 14px solid #ffd47b; }
          body .wrapper main .balloon.lightyellow .string {
            background: #ffd47b;
            border: 1px solid #ffd47b; }
        body .wrapper main .balloon.pink {
          position: absolute;
          background: #ff3fd6;
          height: 85px;
          width: 75px;
          right: 30%;
          top: 2%; }
          body .wrapper main .balloon.pink .triangle {
            border-bottom: 14px solid #ff3fd6; }
          body .wrapper main .balloon.pink .string {
            background: #ff3fd6;
            border: 1px solid #ff3fd6; }
        body .wrapper main .balloon.purple {
          position: absolute;
          background: #861a54;
          left: 18%;
          top: 9%;
          height: 65px;
          width: 70px; }
          body .wrapper main .balloon.purple .triangle {
            border-bottom: 14px solid #861a54; }
          body .wrapper main .balloon.purple .string {
            background: #861a54;
            border: 1px solid #861a54; }
        body .wrapper main .balloon.green {
          position: absolute;
          background: #a7ce48;
          right: 18%;
          top: 9%;
          height: 65px;
          width: 70px; }
          body .wrapper main .balloon.green .triangle {
            border-bottom: 14px solid #a7ce48; }
          body .wrapper main .balloon.green .string {
            background: #a7ce48;
            border: 1px solid #a7ce48; }
        body .wrapper main .balloon .eye {
          position: absolute;
          width: 7px;
          height: 7px;
          top: 40%;
          left: 22%;
          background: #000;
          border-radius: 50%; }
          body .wrapper main .balloon .eye:after {
            content: '';
            left: 35px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #000;
            position: absolute; }
        body .wrapper main .balloon .mouth {
          position: absolute;
          top: 45%;
          left: 43%;
          width: 7px;
          height: 7px;
          border-radius: 50%; }
        body .wrapper main .balloon .happy {
          border: 2px solid;
          border-color: transparent #000 #000 transparent;
          transform: rotate(45deg); }
        body .wrapper main .balloon .triangle {
          position: absolute;
          left: 40%;
          bottom: -10%;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent; }
        body .wrapper main .balloon .string {
          position: absolute;
          height: 150px;
          width: 1px;
          left: 48%;
          top: 100%;
          z-index: -1; }
        body .wrapper main .balloon .star {
          width: 20px;
          height: 20px;
          background: white;
          -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
        body .wrapper main .balloon .star-purple {
          width: 30px;
          height: 30px;
          margin-left: 51px;
          margin-top: -5px;
          background: #861a54;
          -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
        body .wrapper main .balloon .star-lighyellow {
          background: #ffd47b; }
      body .wrapper main .modal .inner {
        position: relative; }
      body .wrapper main .modal .lightyellow {
        left: -1%;
        top: 7%; }
      body .wrapper main .modal .pink {
        right: 0%;
        top: 7%; }
      body .wrapper main .modal .string {
        height: 11em; }
      body .wrapper main .modal .purple {
        left: 10%;
        top: 27%; }
        body .wrapper main .modal .purple .string {
          height: 9em; }
      body .wrapper main .modal .green {
        right: 12%;
        top: 27%; }
        body .wrapper main .modal .green .string {
          height: 9em; }
      body .wrapper main .modal .timer, body .wrapper main .modal .rate, body .wrapper main .modal .moves {
        margin-bottom: 20px; }
      body .wrapper main .modal .fa-grin-tears {
        color: #efe348;
        font-size: 20px; }
      body .wrapper main .game-header {
        background: #ffd47b;
        padding: 1em;
        border-radius: 10px 10px 0 0;
        height: 100px;
        min-height: 100px;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 10px 1px #00000030; }
      body .wrapper main .rate {
        color: #ff3fd6;
        font-size: 18px; }
        body .wrapper main .rate i {
          font-weight: 600;
          font-size: 15px;
          padding-left: 5px; }
      body .wrapper main .timer {
        color: #92278f;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px; }
        body .wrapper main .timer .hours, body .wrapper main .timer .minutes, body .wrapper main .timer .seconds {
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          color: #92278f; }
          body .wrapper main .timer .hours .numbers, body .wrapper main .timer .minutes .numbers, body .wrapper main .timer .seconds .numbers {
            color: #ffd47b;
            font-size: 2em;
            font-weight: 600; }
        body .wrapper main .timer .hours {
          background: white; }
        body .wrapper main .timer .minutes {
          background: #a7ce48; }
        body .wrapper main .timer .seconds {
          background: #f78b1e; }
      body .wrapper main .moves {
        font-size: 20px;
        color: #92278f;
        border-radius: 50px; }
        body .wrapper main .moves .moves-num {
          font-size: 30px;
          font-weight: 600;
          padding-right: 10px;
          color: #ff3fd6; }
      body .wrapper main .card.matched {
        transition: box-shadow 1s;
        border-radius: 10px;
        cursor: text;
        border: 10px solid #a7ce48;
        background: #a7ce48;
        box-shadow: -8px 8px 5px 0px rgba(99, 122, 42, 0.64);
        transition: box-shadow 0.5s, border-width 0.5s;
        border-style: outset;
        position: absolute;
        top: 0;
        right: 0;
        left: 0; }
      body .wrapper main .card.card-is-flipped {
        transform: translateX(-100%) rotateY(-180deg); }
        body .wrapper main .card.card-is-flipped .back-card img {
          transform: translate(0, 25%); }
      body .wrapper main .card .front-card {
        display: flex;
        height: 100%;
        position: absolute;
        height: 100%;
        width: 100%; }
        body .wrapper main .card .front-card img {
          border-radius: 10px; }
      body .wrapper main .card .back-card {
        background-color: #fff;
        border-radius: 10px;
        height: 100%;
        transform: rotateY(180deg); }
        body .wrapper main .card .back-card img {
          transform: translate(0.25%) translateY(25%) rotateY(-180deg); }

/*# sourceMappingURL=app.css.map */
