/*
################
   THEME-COLOR
################
*/
/*
################
GLOBAL GRID STYLE THEME
################
*/
@import url(all.min.css);
[class*='container__col-'] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
/*
################
   THEME-img
################
*/
img {
  max-width: 100%;
  object-fit: cover; }

.container {
  width: 992px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  .container--fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container__col-1 {
    flex-basis: 8.3333333333%; }
  .container__col-2 {
    flex-basis: 16.6666666667%; }
  .container__col-3 {
    flex-basis: 25%; }
  .container__col-4 {
    flex-basis: 33.3333333333%; }
  .container__col-5 {
    flex-basis: 41.6666666667%; }
  .container__col-6 {
    flex-basis: 50%; }
  .container__col-7 {
    flex-basis: 58.3333333333%; }
  .container__col-8 {
    flex-basis: 66.6666666667%; }
  .container__col-9 {
    flex-basis: 75%; }
  .container__col-10 {
    flex-basis: 83.3333333333%; }
  .container__col-11 {
    flex-basis: 91.6666666667%; }
  .container__col-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 576px) {
    .container__col-sm-1 {
      flex-basis: 8.3333333333%; }
    .container__col-sm-2 {
      flex-basis: 16.6666666667%; }
    .container__col-sm-3 {
      flex-basis: 25%; }
    .container__col-sm-4 {
      flex-basis: 33.3333333333%; }
    .container__col-sm-5 {
      flex-basis: 41.6666666667%; }
    .container__col-sm-6 {
      flex-basis: 50%; }
    .container__col-sm-7 {
      flex-basis: 58.3333333333%; }
    .container__col-sm-8 {
      flex-basis: 66.6666666667%; }
    .container__col-sm-9 {
      flex-basis: 75%; }
    .container__col-sm-10 {
      flex-basis: 83.3333333333%; }
    .container__col-sm-11 {
      flex-basis: 91.6666666667%; }
    .container__col-sm-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 768px) {
    .container__col-md-1 {
      flex-basis: 8.3333333333%; }
    .container__col-md-2 {
      flex-basis: 16.6666666667%; }
    .container__col-md-3 {
      flex-basis: 25%; }
    .container__col-md-4 {
      flex-basis: 33.3333333333%; }
    .container__col-md-5 {
      flex-basis: 41.6666666667%; }
    .container__col-md-6 {
      flex-basis: 50%; }
    .container__col-md-7 {
      flex-basis: 58.3333333333%; }
    .container__col-md-8 {
      flex-basis: 66.6666666667%; }
    .container__col-md-9 {
      flex-basis: 75%; }
    .container__col-md-10 {
      flex-basis: 83.3333333333%; }
    .container__col-md-11 {
      flex-basis: 91.6666666667%; }
    .container__col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container__col-lg-1 {
      flex-basis: 8.3333333333%; }
    .container__col-lg-2 {
      flex-basis: 16.6666666667%; }
    .container__col-lg-3 {
      flex-basis: 25%; }
    .container__col-lg-4 {
      flex-basis: 33.3333333333%; }
    .container__col-lg-5 {
      flex-basis: 41.6666666667%; }
    .container__col-lg-6 {
      flex-basis: 50%; }
    .container__col-lg-7 {
      flex-basis: 58.3333333333%; }
    .container__col-lg-8 {
      flex-basis: 66.6666666667%; }
    .container__col-lg-9 {
      flex-basis: 75%; }
    .container__col-lg-10 {
      flex-basis: 83.3333333333%; }
    .container__col-lg-11 {
      flex-basis: 91.6666666667%; }
    .container__col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container__col-xl-1 {
      flex-basis: 8.3333333333%; }
    .container__col-xl-2 {
      flex-basis: 16.6666666667%; }
    .container__col-xl-3 {
      flex-basis: 25%; }
    .container__col-xl-4 {
      flex-basis: 33.3333333333%; }
    .container__col-xl-5 {
      flex-basis: 41.6666666667%; }
    .container__col-xl-6 {
      flex-basis: 50%; }
    .container__col-xl-7 {
      flex-basis: 58.3333333333%; }
    .container__col-xl-8 {
      flex-basis: 66.6666666667%; }
    .container__col-xl-9 {
      flex-basis: 75%; }
    .container__col-xl-10 {
      flex-basis: 83.3333333333%; }
    .container__col-xl-11 {
      flex-basis: 91.6666666667%; }
    .container__col-xl-12 {
      flex-basis: 100%; } }

/*
################
CARD STYLE
################
*/
.deck {
  padding: 1em;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media screen and (min-width: 576px) {
    .deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px; } }
  .deck .card {
    position: relative;
    display: flex;
    min-width: 0;
    flex-direction: column;
    background: #92278f;
    box-shadow: 9px 9px 5px 0 #690266;
    border-radius: 10px;
    padding: 1em;
    height: 200px; }
    @media screen and (min-width: 576px) {
      .deck .card {
        flex: 0 0 21.8%;
        width: 21.8%;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px; } }

/*
################
CARD STYLE
################
*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 6px solid transparent;
  padding: 0.5em 4em;
  line-height: 1.5;
  border-radius: 50px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .btn.btn-primary {
    color: #92278f;
    background: #f9fafb;
    border-color: #ebeced; }
    .btn.btn-primary:hover {
      color: #fff;
      background-color: #92278f;
      border-color: #92278f; }
    .btn.btn-primary:not(:disabled):not(.disabled).active, .btn.btn-primary:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #92278f;
      border-color: #92278f; }

/*
################
   THEME-TEXT-ALIGN
################
*/
.text-end {
  text-align: end; }

@keyframes gradients {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 50% 0; }
  50% {
    background-position: 90% 0; }
  60% {
    background-position: 60%; }
  75% {
    background-position: 40%; }
  100% {
    background-position: 0 0; } }
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: url("../images/pattern.png"); }
  body .wrapper header {
    text-align: center;
    margin: 1em; }
    body .wrapper header a {
      display: block; }
      body .wrapper header a img {
        width: 300px; }
  body .wrapper main {
    background-image: linear-gradient(to right, #92278f, #ff3fd6, #861a54, #efe348, #f97df5);
    background-size: 600%;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(107, 40, 105, 0.5);
    padding: 1em;
    /* Animation */
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: gradients; }
    body .wrapper main .game-header {
      margin-bottom: 1em; }
      body .wrapper main .game-header #rate {
        color: #fff; }
        body .wrapper main .game-header #rate span {
          font-weight: 600;
          font-size: 20px; }
      body .wrapper main .game-header #counter {
        text-align: center;
        margin: 50px auto;
        font-size: 2em;
        color: #282828; }
        @media (max-width: 500px) {
          body .wrapper main .game-header #counter {
            font-size: 1.5em; } }
        body .wrapper main .game-header #counter span, body .wrapper main .game-header #counter i {
          display: inline-block;
          vertical-align: middle; }
        body .wrapper main .game-header #counter span {
          text-align: center;
          min-width: 45px;
          text-rendering: optimizeLegibility;
          position: relative;
          background-color: #333;
          margin: 0 2px;
          padding: 5px;
          color: white;
          border-radius: 5px;
          box-shadow: inset 0 1px 0.5px rgba(255, 255, 255, 0.4);
          border: 1px solid black;
          text-shadow: 0 0 2px black; }
          body .wrapper main .game-header #counter span.minutes:before {
            content: "MIN"; }
          body .wrapper main .game-header #counter span.seconds:before {
            content: "SEC"; }
          body .wrapper main .game-header #counter span:before {
            top: -20px;
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            color: black;
            font-size: 0.35em;
            text-shadow: none; }
          body .wrapper main .game-header #counter span:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            margin-top: 0.5px;
            background-color: black;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }
        body .wrapper main .game-header #counter i {
          font-style: normal; }
    body .wrapper main .back-card {
      background-image: url("../images/memory-logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: #fff;
      border-radius: 10px;
      height: 100%; }

/*# sourceMappingURL=app.css.map */
