@import 'utilities';
@import 'all.min.css';
@import 'grid';
@import 'components';
@import 'animation';


*{
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: url('../images/pattern.png');
  .wrapper{
    header{
      text-align: center;
      margin: 1em;
      a{
        display: block;
        img{
          width: 300px;;
        }
      }
    }
    main{
      background-image: linear-gradient(to right, $primary,$pink,$purple,$yellow,$light-pink);
      background-size: 600%;
      margin-bottom: 1em;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(107, 40, 105, 0.5);
      padding: 1em;
      /* Animation */
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-name: gradients;

      // TOdO Game HEADR Action
      .game-header{
        margin-bottom: 1em;

        // RATE
        #rate{
          color: #fff;
          span{
            font-weight: 600;
            font-size: 20px;
          }
        }
        // COUNTER
        #counter {
          text-align: center;
          margin: 50px auto;
          font-size: 2em;
          color: #282828;
          @media (max-width: 500px) {
            font-size: 1.5em;
          }
          span, i {
            display: inline-block;
            vertical-align: middle;
          }
          span {
            text-align: center;
            min-width: 45px;
            text-rendering: optimizeLegibility;
            position: relative;
            background-color: $dark;
            margin: 0 2px;
            padding: 5px;
            color: white;
            border-radius: 5px;
            box-shadow: inset 0 1px 0.5px rgba(white, 0.4);
            border: 1px solid black;
            text-shadow: 0 0 2px black;
            &.minutes:before {
              content: "MIN";
            }
            &.seconds:before {
              content: "SEC";
            }
            &:before {
              top: -20px;
              position: absolute;
              left: 0;
              right: 0;
              display: block;
              color: black;
              font-size: 0.35em;
              text-shadow: none;
            }
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              height: 1px;
              margin-top: 0.5px;
              background-color: black;
              box-shadow: 0 -1px 0 rgba(black, 0.1), 0 1px 0 rgba(white, 0.1);
            }
          }
          i {
            font-style: normal;
          }
        }
      }

      // TOdo CARD GAME
      .card{
        // Matched card
        &.matched{
          box-shadow: 0px 0px 15px 15px #b71d7d;
          transition: box-shadow 1s;
          border-radius: 10px;
          cursor: text;
        }
        &.card-is-flipped {
          transform: translateX(-100%) rotateY(-180deg);
          .back-card{
            img{
              transform: translate(0,25%);
            }
          }
        }
        .front-card{
          display: flex;
          height: 100%;
          position: absolute;
          height: 100%;
          width: 100%;
          img{
            border-radius: 10px;
          }
        }
        .back-card{
          background-color: #fff;
          border-radius: 10px;
          height: 100%;
          transform: rotateY( 180deg );
          img{
            transform: translate(0.25%) translateY(25%) rotateY(-180deg);
          }
        }
      }
    }
  }
}
