@import 'utilities';
@import 'grid';
@import 'components';
@import 'animation';

*{
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: url('../images/pattern.png');
  .wrapper{
    header{
      text-align: center;
      margin: 1em;
      a{
        display: block;
        img{
          width: 300px;;
        }
      }
    }
    main{
      background-image: linear-gradient(to right, $primary,$pink,$purple,$yellow,$light-pink);
      background-size: 600%;
      margin-bottom: 1em;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(107, 40, 105, 0.5);
      /* Animation */
      animation-duration: 50s;
      animation-iteration-count: infinite;
      animation-name: gradients;
      .back-card{
        background-image: url('../images/memory-logo.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #fff;
        border-radius: 10px;
        height: 100%;
      }
    }
  }
}
