.container {
  width: 992px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  @media screen and (max-width: 990px) {
    .container {
      width: 100%; } }
  .container--fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container__col-1 {
    flex-basis: 8.3333333333%; }
  .container__col-2 {
    flex-basis: 16.6666666667%; }
  .container__col-3 {
    flex-basis: 25%; }
  .container__col-4 {
    flex-basis: 33.3333333333%; }
  .container__col-5 {
    flex-basis: 41.6666666667%; }
  .container__col-6 {
    flex-basis: 50%; }
  .container__col-7 {
    flex-basis: 58.3333333333%; }
  .container__col-8 {
    flex-basis: 66.6666666667%; }
  .container__col-9 {
    flex-basis: 75%; }
  .container__col-10 {
    flex-basis: 83.3333333333%; }
  .container__col-11 {
    flex-basis: 91.6666666667%; }
  .container__col-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 576px) {
    .container__col-sm-1 {
      flex-basis: 8.3333333333%; }
    .container__col-sm-2 {
      flex-basis: 16.6666666667%; }
    .container__col-sm-3 {
      flex-basis: 25%; }
    .container__col-sm-4 {
      flex-basis: 33.3333333333%; }
    .container__col-sm-5 {
      flex-basis: 41.6666666667%; }
    .container__col-sm-6 {
      flex-basis: 50%; }
    .container__col-sm-7 {
      flex-basis: 58.3333333333%; }
    .container__col-sm-8 {
      flex-basis: 66.6666666667%; }
    .container__col-sm-9 {
      flex-basis: 75%; }
    .container__col-sm-10 {
      flex-basis: 83.3333333333%; }
    .container__col-sm-11 {
      flex-basis: 91.6666666667%; }
    .container__col-sm-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 768px) {
    .container__col-md-1 {
      flex-basis: 8.3333333333%; }
    .container__col-md-2 {
      flex-basis: 16.6666666667%; }
    .container__col-md-3 {
      flex-basis: 25%; }
    .container__col-md-4 {
      flex-basis: 33.3333333333%; }
    .container__col-md-5 {
      flex-basis: 41.6666666667%; }
    .container__col-md-6 {
      flex-basis: 50%; }
    .container__col-md-7 {
      flex-basis: 58.3333333333%; }
    .container__col-md-8 {
      flex-basis: 66.6666666667%; }
    .container__col-md-9 {
      flex-basis: 75%; }
    .container__col-md-10 {
      flex-basis: 83.3333333333%; }
    .container__col-md-11 {
      flex-basis: 91.6666666667%; }
    .container__col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container__col-lg-1 {
      flex-basis: 8.3333333333%; }
    .container__col-lg-2 {
      flex-basis: 16.6666666667%; }
    .container__col-lg-3 {
      flex-basis: 25%; }
    .container__col-lg-4 {
      flex-basis: 33.3333333333%; }
    .container__col-lg-5 {
      flex-basis: 41.6666666667%; }
    .container__col-lg-6 {
      flex-basis: 50%; }
    .container__col-lg-7 {
      flex-basis: 58.3333333333%; }
    .container__col-lg-8 {
      flex-basis: 66.6666666667%; }
    .container__col-lg-9 {
      flex-basis: 75%; }
    .container__col-lg-10 {
      flex-basis: 83.3333333333%; }
    .container__col-lg-11 {
      flex-basis: 91.6666666667%; }
    .container__col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container__col-xl-1 {
      flex-basis: 8.3333333333%; }
    .container__col-xl-2 {
      flex-basis: 16.6666666667%; }
    .container__col-xl-3 {
      flex-basis: 25%; }
    .container__col-xl-4 {
      flex-basis: 33.3333333333%; }
    .container__col-xl-5 {
      flex-basis: 41.6666666667%; }
    .container__col-xl-6 {
      flex-basis: 50%; }
    .container__col-xl-7 {
      flex-basis: 58.3333333333%; }
    .container__col-xl-8 {
      flex-basis: 66.6666666667%; }
    .container__col-xl-9 {
      flex-basis: 75%; }
    .container__col-xl-10 {
      flex-basis: 83.3333333333%; }
    .container__col-xl-11 {
      flex-basis: 91.6666666667%; }
    .container__col-xl-12 {
      flex-basis: 100%; } }

@media screen and (max-width: 576px) {
  body .wrapper header a img {
    width: 150px; }
  body .wrapper main {
    width: 90%;
    margin: 0 auto; }
    body .wrapper main .balloon {
      visibility: hidden; }
    body .wrapper main .flip-card {
      margin-bottom: 15px; }
      body .wrapper main .flip-card .card .back-card img {
        transform: translate(0.25%) translateY(2%) rotateY(-180deg); }
    body .wrapper main .modal-content {
      width: 95%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body .wrapper main {
    width: 90%; }
    body .wrapper main .balloon.green {
      right: 3%; }
    body .wrapper main .balloon.purple {
      left: 3%; }
    body .wrapper main .balloon.pink {
      right: 10%; }
    body .wrapper main .balloon.lightyellow {
      left: 10%; }
    body .wrapper main .card-deck .flip-card {
      flex: 0 0 19.8%;
      width: 19.8%;
      height: 150px; } }

/*# sourceMappingURL=responsive.css.map */
